#movies img, #movie img {
    width: 100%;
    height: auto;
}

a.navbar-brand {
    color: rgba(255, 255, 255, 0.5);
    transition: color 300ms ease-in;
}
a.navbar-brand:hover,
a.navbar-brand:focus {
    color: #fff;
}

@media ( min-width: 960px ) {
    #movies .col-md-3 .well {
        height: 390px;
    }
    
    #movies .col-md-3 img {
        height: 240px;
    }
}
